@model IEnumerable<TodoNET.Model.Item>
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5);
        grid.Pager(WebGridPagerModes.NextPrevious);
        @grid.GetHtml(tableStyle: "webGrid",
        htmlAttributes: new { id = "DataTable" },
        headerStyle: "header",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column(format: (item) => 
                new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.id } ).ToString()  + " | " + 
                               Html.ActionLink("Delete", "Delete", new { id = item.id } ).ToString() 
                )
            ),
            grid.Column("Summary"),
            grid.Column("Detail"),
            grid.Column("CompletedDate")
       ));

    }





